.nav--div {
    background-color: #F55A5A;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--logo {
    width: 45px;
    padding-top: 11px;
    display: flex;
    text-align: center;

}

.nav--text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}